@import "../../stylesheets/variables.scss";
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  line-height: 2.6rem;
  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    @media all and(min-width: 768px) {
      margin: 40px;
      font-size: 3.4rem;
    }
  }
  &__text {
    @media all and(min-width: 768px) {
      font-size: 1.6rem;
    }
  }
  &__link {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.1rem;
    font-weight: 800;
    width: 80px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 100px;
      height: 45px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
