@import "../../stylesheets/variables.scss";
.landing {
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  line-height: 2.6rem;
  &__title {
    color: $color-primary;
    text-shadow: 3px 3px 9px rgba(150, 150, 150, 1);
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: capitalize;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      margin: 40px;
      font-size: 4.4rem;
    }
    @media all and(min-width: 1024px) {
      font-size: 5.4rem;
    }
  }
  &__text {
    opacity: 0.6;
    @media all and(min-width: 768px) {
      font-size: 1.6rem;
    }
  }
  &__link {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.2rem;
    font-weight: 800;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 120px;
      height: 55px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
.circle {
  width: 70px;
  height: 70px;
  background-color: $color-happy;
  border-radius: 50%;
  transform: translate(-50px, 0px);
  animation: left 60s ease infinite;
}
.circle2 {
  width: 100px;
  height: 100px;
  background-color: $color-unhappy;
  border-radius: 50%;
  animation: right 5s ease infinite;
}
@keyframes right {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes left {
  0% {
    transform: translate(-50px, 0px);
  }
  50% {
    transform: translate(-700px, -200px);
  }
  100% {
    transform: translate(-50px, 0px);
  }
}
