@import "../../stylesheets/variables.scss";
.about {
  height: 95vh;
  padding: 30px;
  &__title {
    margin-bottom: 20px;
    @media all and(min-width: 768px) {
      margin: 40px;
      font-size: 2.4rem;
      text-align: center;
    }
  }
  &__btn {
    margin: auto;
    display: inline-block;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.1rem;
    font-weight: 800;
    width: 80px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 100px;
      height: 45px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
