@import "../../stylesheets/variables.scss";
.mainList {
  height: 95vh;
  overflow: scroll;
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    &--smiley {
      color: $color-primary;
    }
    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: $color-primary;
      color: $color-secondary;
      box-shadow: 3px 5px 18px -7px rgba(0, 0, 0, 0.77);
      margin: 0 20px;
      width: 100px;
      height: 50px;
      border-radius: 50px;
      font-size: 2.2rem;
      transition: 0.8s ease;
      @media all and (min-width: 768px) {
        margin: 0px 80px;
        width: 120px;
        height: 70px;
      }
      &:hover {
        box-shadow: 3px 5px 18px 0px rgba(0, 0, 0, 0.77);
      }
    }
  }
  &__year {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 95vw;
    margin: auto;
    list-style: none;
  }
  &__reset {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #a1a0a0;
    font-size: 1rem;
    color: $color-secondary;
    margin: 10px 0 0 88%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
    @media all and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
