@import "../../stylesheets/variables.scss";
.mainList {
  height: 95vh;
  overflow: scroll;
  &__button {
    position: sticky;
    width: 100vw;
    height: 30px;
    border: none;
    background-color: $color-primary;
    font-size: 1.6rem;
    color: $color-secondary;
    @media all and(min-width: 768px) {
      height: 50px;
      font-size: 2rem;
    }
  }
  &__year {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 95vw;
    margin: auto;
    list-style: none;
  }
}
