@import "../../stylesheets/variables.scss";
.detail {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__smiley {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    @media all and(min-width: 768px) {
      width: 200px;
      height: 200px;
      font-size: 6.4rem;
    }
  }
  &__date {
    margin: 20px 0;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 5px;
    @media all and(min-width: 768px) {
      margin: 70px 0;
      font-size: 2rem;
    }
  }
  &__message {
    font-size: 1rem;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
    }
  }
  &__button {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.1rem;
    font-weight: 800;
    width: 80px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 120px;
      height: 55px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
.happy {
  background-color: $color-happy;
}
.unhappy {
  background-color: $color-unhappy;
}
