@import "../../stylesheets/variables.scss";
.header {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-secondary;
  font-weight: 800;
  @media all and(min-width: 768px) {
    font-size: 1.4rem;
  }
  &:hover {
    text-decoration: underline;
  }
}
.link {
  text-decoration: none;
}
