@import "../../stylesheets/variables.scss";
.header {
  height: 5vh;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 30px;
  text-decoration: none;
  color: $color-primary;
  font-weight: 900;
  font-size: 1.4rem;
  &:hover {
    text-decoration: underline;
  }
}
.link {
  text-decoration: none;
}
