@import "../../stylesheets/variables.scss";
.footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: $color-primary;
  color: $color-secondary;
  font-weight: 700;
  @media all and(min-width: 768px) {
    font-size: 1.4rem;
  }
  &__media {
    &--github,
    &--linkedin,
    &--twitter {
      padding-left: 20px;
      color: $color-secondary;
      @media all and(min-width: 768px) {
        padding-left: 50px;
      }
    }
  }
}
