.footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  &__media {
    &--github,
    &--linkedin,
    &--twitter {
      padding-left: 20px;
    }
  }
}
