@import "../../stylesheets/variables.scss";
.edition {
  width: 90vw;
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media all and(min-width: 768px) {
    padding-top: 7vh;
    width: 60vw;
  }
  @media all and(min-width: 1024px) {
    width: 40vw;
  }
  &__close {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 800;
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    @media all and(min-width: 768px) {
      font-size: 1.8rem;
      margin-top: 50px;
    }
  }
  &__input {
    border: 2px solid $color-primary;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-family: $font-main;
    font-size: 1rem;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      height: 60px;
    }
  }
  &__textarea {
    border: 2px solid $color-primary;
    border-radius: 5px;
    height: 80px;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: $font-main;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      height: 140px;
    }
  }
  &__radio-btn2 {
    margin-left: 100px;
  }
  &__radio-btn,
  &__radio-btn2 {
    @media all and(min-width: 1024px) {
      width: 20px;
      height: 20px;
    }
  }
  &__smiley {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 800;
    @media all and(min-width: 768px) {
      font-size: 1.8rem;
    }
  }
  &__button-container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
  &__save {
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1rem;
    font-weight: 800;
    width: 80px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 120px;
      height: 55px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
.circle {
  width: 70px;
  height: 70px;
  background-color: $color-happy;
  border-radius: 50%;
  transform: translate(-50px, 0px);
  animation: left 60s ease infinite;
}
.circle2 {
  width: 100px;
  height: 100px;
  background-color: $color-unhappy;
  border-radius: 50%;
  transform: translate(50px, 50px);
  animation: right 50s ease infinite;
}
@keyframes right {
  0% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(900px, -50px);
  }
  100% {
    transform: translate(-1200px, -800px);
  }
}
@keyframes left {
  0% {
    transform: translate(-50px, 0px);
  }
  50% {
    transform: translate(-700px, -200px);
  }
  100% {
    transform: translate(700px, 1400px);
  }
}
