@import "../../stylesheets/variables.scss";
.edition {
  width: 90vw;
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and(min-width: 768px) {
    width: 60vw;
  }
  @media all and(min-width: 1024px) {
    width: 40vw;
  }
  &__close {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 800;
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    @media all and(min-width: 768px) {
      font-size: 1.8rem;
      margin-top: 50px;
    }
  }
  &__input {
    border: 2px solid $color-primary;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-family: $font-main;
    font-size: 1rem;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      height: 60px;
    }
  }
  &__textarea {
    border: 2px solid $color-primary;
    border-radius: 5px;
    height: 80px;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: $font-main;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      height: 140px;
    }
  }
  &__checkbox2 {
    margin-left: 100px;
  }
  &__smiley {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 800;
    @media all and(min-width: 768px) {
      font-size: 1.8rem;
    }
  }
  &__button-container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
  &__save {
    margin-top: 30px;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1rem;
    font-weight: 800;
    width: 80px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    transition: 0.5s ease;
    @media all and(min-width: 768px) {
      font-size: 1.4rem;
      width: 100px;
      height: 45px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
