@import "../../stylesheets/variables.scss";

.smiley {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  color: black;
  font-size: 1.6rem;
  @media all and(min-width: 768px) {
    width: 70px;
    height: 70px;
    font-size: 2.4rem;
    margin: 10px;
  }
}
.happy {
  background-color: $color-happy;
}
.unhappy {
  background-color: $color-unhappy;
}
